POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespass
POSTGRES_DB=n8n


RABBITMQ_USER=rabbit
RABBITMQ_PASSWORD=rabbitpass


MONGO_INITDB_ROOT_USERNAME=mongo
MONGO_INITDB_ROOT_PASSWORD=mongopass


REDIS_PASSWORD=redispass


# домен
DOMAIN=bezzze.ru
