# Postgres
POSTGRES_USER=n8n_user
POSTGRES_PASSWORD=verysecretpassword
POSTGRES_DB=n8n_db

# N8N
N8N_HOST=bezzze.ru
N8N_PORT=5678
N8N_PROTOCOL=https
N8N_PATH=/n8n
WEBHOOK_URL=https://bezzze.ru/n8n/

# FASTAPI
FASTAPI_PORT=8000
